#search-div {
    background-color: #dedede;
    padding: 10px;
    user-select: none;
}

#quick-searchbar {
    background-color: white;
    border-radius: 20px;
    padding: 5px 20px;
    border: 1px white solid;
}

#quick-searchbar:focus {
    border-color: black
}